{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Register</h1>
    <br>

    <form action="{{ url_for('auth.register') }}" method="POST" role="form">
     {{ form.hidden_tag() }}        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class_='form-control') }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_='form-control') }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-4"> 
            <div class="form-group">
              {{ form.password2.label }}
              {{ form.password2(class_='form-control') }}
              {% for error in form.password2.errors %}
                  <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4"></div>
      </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.submit(class_='btn btn-primary') }}
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </form>
{% endblock %}

