.float-right{
    float: right;
}
.success{
    color: #5cb85c;
}
.hidden{
    display: none;
}
.add-contact-icon{
    margin-top: 25px;
    float: right;
}
.add-student-icon{
    padding-right:10px;
}
.hide{
    visibility: hidden;
}
.shadow{
    border: 1px solid rgba(94, 102, 173, 0.096);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th{
    color: rgb(124, 189, 255);
    font-size: 2em;
    font-weight: bold;
    display: block;
    height: 50px;
}
h3{
    color: rgb(124, 189, 255);
}
h1{
    color: rgb(101, 114, 128);
}