{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form action="" method="POST" role="form" id="lesson_form">
    {{ form.csrf_token }}
    <h1>Lesson</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.teacher_ID.label }}
                {{ form.teacher_ID(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.start_date.label }}
                {{ form.start_date(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.end_date.label }}
                {{ form.end_date(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.start_time.label }}
                {{ form.start_time(class_='timepicker form-control') }}
            </div>
            <div class="form-group">
                {{ form.is_hour.label }}
                {{ form.is_hour }}
            </div>
            <div class="form-group">
                <label>yes?
                    <!-- <span class="checkmark" id="recurringLessonCheck"></span> -->
                    <input type="checkbox" id="recurringLessonCheck" name="is_recurring">
                </label>
            </div>
            <div class="hidden" id="recurringLessonContainer">
                <!-- why no style -->
                <div class="recurring-lesson-radio-menu" style="margin-right:15px;">
                    <div>
                        {{ form.recurring_radio.label }}
                        {{ form.recurring_radio }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </div>
    </div>
</form>
{% endblock %}