{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Guitar Studio {% else %}Welcome to the Studio{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Guitar Studio</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.sign_up') }}">Sign Up!</a></li>
                    <li><a id="accounts" href="#">Accounts</a></li>
                    <!-- make admin only link -->
                    <li><a href="{{ url_for('main.add_instrument') }}">Add Instrument</a></li>
                </ul>
                
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="GET" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <!-- maybe keep this link here?? -->
                    <li><a href="#{# url_for('main.user', username=current_user.username) #}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if g.abc %}
                <div id="viewAccounts" class="accounts-container hidden" style="position:absolute;">
                    <div style="text-align:center; position:relative;">
                        <h1>Accounts</h1>
                    </div>
                    <dl>
                        {% for letter in g.abc %}
                            <div>
                                <dt>{{ letter }}</dt>
                                <div class="dd-container">
                                    <table class="table table-hover">
                                        {% for account in g.accounts %}
                                            {% if account.l_name1[:1].upper() == letter %} 
                                                <tr>
                                                    <td>
                                                        <dd>
                                                            <a href="{{ url_for('main.view_account', id=account.id) }}">
                                                                {{ account.l_name1 }}, {{ account.f_name1 }} 
                                                            </a>
                                                        </dd>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

<script>
    var button = $('#button');
    var accounts = $('#accounts')
    button.click(function(){
        $(".anotherContact").toggleClass("hidden");
         $(".add-contact-headline").toggleClass("hide");
        if (button.hasClass("fa-plus-square")){
            button.removeClass("fa-plus-square").addClass("fa-minus-square");
        }else{
            button.removeClass("fa-minus-square").addClass("fa-plus-square");
        }
    });

    accounts.click(function(){
        $("#viewAccounts").toggleClass("hidden");
    });

</script>

{% endblock %}
