{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Home {% else %}Welcome to the Studio{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.sign_up') }}">Sign Up!</a></li>
                    <!-- not sure if this javascript:; thing is stupid? research -->
                    <li><a id="accountsLink" href="javascript: void(0);">Accounts</a></li>
                    <li><a id="studentsLink" href="javascript: void(0);">Students</a></li>
                    <li><a href="{{ url_for('main.view_all_teachers') }}">Teachers</a></li>
                    <!-- make admin only link -->
                    {% if current_user.is_admin %}
                    <li><a href="{{ url_for('main.add_instrument') }}">Add Instrument</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Add Teacher</a></li>
                    {% endif %}
                </ul>
                
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="GET" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <!-- maybe keep this link here?? -->
                    <li><a href="#{# url_for('main.user', username=current_user.username) #}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="viewAccounts" class="accounts-container hidden" style="position:absolute;">
            <div style="text-align:center; position:relative;">
                <h1>Accounts</h1>
            </div>
            <dl>
                {% for letter in g.account_abc %}
                    <div>
                        <dt>{{ letter }}</dt>
                        <div class="dd-container">
                            <table class="table table-hover">
                                {% for account in g.accounts %}
                                    {% if account.primary_lname[:1].upper() == letter %} 
                                        <tr><td><dd>
                                            <a href="{{ url_for('main.view_account', id=account.id) }}">
                                                {{ account.primary_lname }}, {{ account.primary_fname }} 
                                            </a>
                                        </dd></td></tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </dl>
        </div>
        <div id="viewStudents" class="students-container hidden" style="position:absolute;">
            <div style="text-align:center; position:relative;">
                <h1>Students</h1>
            </div>
            <dl>
                {% for letter in g.student_abc %}
                    <div>
                        <dt>{{ letter }}</dt>
                        <div class="dd-container">
                            <table class="table table-hover">
                                {% for student in g.students %}
                                    {% if student.first_name[:1].upper() == letter %} 
                                        <tr><td><dd>
                                            <a href="{{ url_for('main.view_student', id=student.id) }}">
                                                {{ student.first_name }} {{ student.last_name }} 
                                            </a>
                                        </dd></td></tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </dl>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="js-alert"></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    
<script>
    $(document).ready(function(){

        $('input.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '7',
            maxTime: '10:00pm',
            defaultTime: '11',
            startTime: '7:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        /*
        var button = $('#button');

        // was used to show/hide secondary contact fields in Add/Edit account form
        button.click(function(){
            $(".anotherContact").toggleClass("hidden");
             $(".add-contact-headline").toggleClass("hide");
            if (button.hasClass("fa-plus-square")){
                button.removeClass("fa-plus-square").addClass("fa-minus-square");
            }else{
                button.removeClass("fa-minus-square").addClass("fa-plus-square");
            }
        });
        function show(){
            $(".anotherContact").toggleClass("hidden");
        } 
        */

        // used to show/hide accounts/students list from navbar
        var accountsLink = $('#accountsLink')
        var studentsLink = $('#studentsLink')
        var accountsContainer = $("#viewAccounts")
        var studentsContainer = $("#viewStudents")
        var recurringLessonCheck = $("#recurringLessonCheck")
        var recurringLessonContainer = $("#recurringLessonContainer") 
        
        function hide(e){
            if(!accountsLink.is(e.target) && !accountsContainer.hasClass("hidden")){
                accountsContainer.toggleClass("hidden");
            }else if(!studentsLink.is(e.target) && !studentsContainer.hasClass("hidden")){
                studentsContainer.toggleClass("hidden");
            }
        }
        accountsLink.click(function(e){
            accountsContainer.toggleClass("hidden");
        });
        studentsLink.click(function(e){
            studentsContainer.toggleClass("hidden");
        });
        recurringLessonCheck.click(function(e){
            recurringLessonContainer.toggleClass("hidden");
        });
       document.addEventListener('mouseup', hide, false);
    });
    
</script>

{% endblock %}
