{% extends 'base.html' %}

{% block app_content %}
<div class="container">
<h3>{{ moment(g.today).format('LL') }}</h3>
<h1>Hi, {{ user.first_name }}!</h1>
    <div>
        <h1>instrument</h1>
        {% for attended in attendence %}
            <p><b>attendence id: {{attended.id}}</b></p>
            <p>attendence account: {{attended.account}}</p>
            <p>attendence student: {{attended.student}}</p>
            <p>attendence student id:{{attended.student_ID}}</p>
            <p>attendence account id:{{attended.account_ID}}</p>
            <p>{{ moment(attended.was_present).format('LLL') }}
            <p>{{ attended.was_present }}</p>
        {% endfor %}
    </div>
    <div><h1>instrument</h1>
        {% for instrument in instruments %}
            <p>{{ instrument }}</p>
        {% endfor %}
    </div>
    <div><h1>STUDENTS</h1>
    <table>
        {% for student in students %}
            <tr><td><h1>student id: {{ student.id }}</h1></td></tr>
            <tr><td>account id: {{ student.account_ID }}</td></tr>
            <tr><td>teacher id: {{ student.teacher_ID }}</td></tr>
            <tr><td>attendence id: {{ student.attendence_ID }}</td></tr>
            <tr><td>first name: {{ student.first_name }}</td></tr>
            <tr><td>last name: {{ student.last_name }}</td></tr>
            <tr><td>instrument: {{ student.instrument }}</td></tr>
            <tr><td>notes: {{ student.notes }}</td></tr>
        {% endfor %}
    </table>
    </div>
    <div>
        <h1>accounts</h1>
        <table>
        {% for account in accounts %}
            <tr>
                <td><h3>Primary contact</h3></td>
            </tr>
            <tr>
                <td>account id: {{ account.id }}</td>
            </tr>
            <tr>
                <td>first name: {{ account.f_name1 }}</td>
            </tr>
            <tr>
                <td>last name: {{ account.l_name1 }}</td>
            </tr>
            <tr>
                <td>cell phone: {{ account.cell_phone1 }}</td>
            </tr>
            <tr>
                <td>email: {{ account.email1 }}</td>
            </tr>
            <tr>
                <td>home phone: {{ account.home_phone1 }}</td>
            </tr>
            <tr>
                <td><h3>Secondary contact</h3></td>
            </tr>
            <tr>
                <td>first name: {{ account.f_name2 }}</td>
            </tr>
            <tr>
                <td>last name: {{ account.l_name2 }}</td>
            </tr>
            <tr>
                <td>cell phone: {{ account.cell_phone2 }}</td>
            </tr>
            <tr>
                <td>email: {{ account.email2 }}</td>
            </tr>
            <tr>
                <td>home phone: {{ account.home_phone2 }}</td></tr>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}