{% extends 'base.html' %}

{% block app_content %}
<div class="container">
<h3>{{ moment(g.today).format('LL') }}</h3>
<h1>Hi, {{ user.first_name }}!</h1>
    <div>
        <h1>attendece</h1>
        {% for attended in attendence %}
            <p><b>attendence id: {{attended.id}}</b></p>
            <p>attendence account: {{attended.account}}</p>
            <p>attendence student: {{attended.student}}</p>
            <p>attendence student id:{{attended.student_ID}}</p>
            <p>attendence account id:{{attended.account_ID}}</p>
            <p>{{ moment(attended.was_present).format('LLL') }}
            <p>{{ attended.was_present }}</p>
        {% endfor %}
    </div>
    <div><h1>instrument</h1>
        {% for instrument in instruments %}
            <p>{{ instrument }}</p>
        {% endfor %}
    </div>
    <div><h1>STUDENTS</h1>
    <table>
        {% for student in students %}
            <tr><td><h1>student id: {{ student.id }}</h1></td></tr>
            <tr><td>account id: {{ student.account_ID }}</td></tr>
            <tr><td>account id: {{ student.account }}</td></tr>
            <tr><td>teacher id: {{ student.teacher_ID }}</td></tr>
            <tr><td>attendence id: {{ student.attendence_ID }}</td></tr>
            <tr><td>first name: {{ student.first_name }}</td></tr>
            <tr><td>last name: {{ student.last_name }}</td></tr>
            <tr><td>instrument: {{ student.instrument }}</td></tr>
            <tr><td>notes: {{ student.notes }}</td></tr>
        {% endfor %}
    </table>
    </div>
    <div>
        <h1>accounts</h1>
        <table>
        {% for account in accounts %}
          <h3></h3>
            <tr>
                <td><h3>Primary contact</h3></td>
            </tr>
            <tr>
                <td>account id: {{ account.id }}</td>
            </tr>
            <tr>
                <td>first name: {{ account.f_name1 }}</td>
            </tr>
            <tr>
                <td>last name: {{ account.l_name1 }}</td>
            </tr>
            <tr>
                <td>cell phone: {{ account.cell_phone1 }}</td>
            </tr>
            <tr>
                <td>email: {{ account.email1 }}</td>
            </tr>
            <tr>
                <td>home phone: {{ account.home_phone1 }}</td>
            </tr>
            <tr>
                <td><h3>Secondary contact</h3></td>
            </tr>
            <tr>
                <td>first name: {{ account.f_name2 }}</td>
            </tr>
            <tr>
                <td>last name: {{ account.l_name2 }}</td>
            </tr>
            <tr>
                <td>cell phone: {{ account.cell_phone2 }}</td>
            </tr>
            <tr>
                <td>email: {{ account.email2 }}</td>
            </tr>
            <tr>
                <td>home phone: {{ account.home_phone2 }}</td></tr>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<!--
<div class="container">
  <main>
    <div class="toolbar">
      <div class="toggle">
        <div class="toggle__option">week</div>
        <div class="toggle__option toggle__option--selected">month</div>
      </div>
      <div class="current-month">June 2016</div>
      <div class="search-input">
        <input type="text" value="What are you looking for?">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
        <div>sun</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">1</div>
        <div class="calendar__day day">2</div>
        <div class="calendar__day day">3</div>
        <div class="calendar__day day">4</div>
        <div class="calendar__day day">5</div>
        <div class="calendar__day day">6</div>
        <div class="calendar__day day">7</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">8</div>
        <div class="calendar__day day">9</div>
        <div class="calendar__day day">10</div>
        <div class="calendar__day day">11</div>
        <div class="calendar__day day">12</div>
        <div class="calendar__day day">13</div>
        <div class="calendar__day day">14</div>        
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">15</div>
        <div class="calendar__day day">16</div>
        <div class="calendar__day day">17</div>
        <div class="calendar__day day">18</div>
        <div class="calendar__day day">19</div>
        <div class="calendar__day day">20</div>
        <div class="calendar__day day">21</div>    
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">22</div>
        <div class="calendar__day day">23</div>
        <div class="calendar__day day">24</div>
        <div class="calendar__day day">25</div>
        <div class="calendar__day day">26</div> 
        <div class="calendar__day day">27</div> 
        <div class="calendar__day day">28</div> 
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">29</div>
        <div class="calendar__day day">30</div>
        <div class="calendar__day day">31</div>
        <div class="calendar__day day">1</div>
        <div class="calendar__day day">2</div>
        <div class="calendar__day day">3</div>
        <div class="calendar__day day">4</div>
      </div>
    </div>
  </main>
-->
{% endblock %}