{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Hi, {{ user.first_name }}!</h1>
        <div><h1>instrument</h1>
            {% for instrument in instruments %}
                <p>{{ instrument }}</p>
            {% endfor %}
        </div>
        <div><h1>STUDENTS</h1>
            {% for student in students %}
                <p>{{ student }}</p>
            {% endfor %}
        </div>
        <div><h1>accounts</h1>
            {% for account in accounts %}
                <h3>Primary contact</h3>
                <p>first name: {{ account.f_name1 }}</p>
                <p>last name: {{ account.l_name1 }}</p>
                <p>cell phone: {{ account.cell_phone1 }}</p>
                <p>email: {{ account.email1 }}</p>
                <p>home phone: {{ account.home_phone1 }}</p>
                <h3>Secondary contact</h3>
                <p>first name: {{ account.f_name2 }}</p>
                <p>last name: {{ account.l_name2 }}</p>
                <p>cell phone: {{ account.cell_phone2 }}</p>
                <p>email: {{ account.email2 }}</p>
                <p>home phone: {{ account.home_phone2 }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}