{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <h3>{{ student.first_name }} {{ student.last_name }}</h3>
                <p><b>Teacher:</b> {{ student.teacher }}</p>
                <p><b>Instrument:</b> {{ student.instrument }}</p>
                <p><b>Account:</b> <a href="{{ url_for('main.view_account', id=student.account_ID) }}">{{ student.account }}</a></p>
                <h3>Notes:</h3>
                <p>{{ student.notes }}</p>
            </td>
            <td>
            <!-- check if the student is checked in -->
            <!-- if not allow check in, otherwise allow undo-check in -->
                {% if checked_in == False %}
                    <form action="{{ url_for('main.view_student', id=student.id) }}" method="POST" role="form">
                        {{ check_in_form.hidden_tag() }}
                        <h3>Attendance:</h3>
                        {{ check_in_form.check_in(class_='btn btn-default') }}
                    </form>
                    {% if attendance %}
                        <div style="margin-top:5px;">
                            <p>last seen: {{ moment(attendance.was_present).format('LLL') }}</p>
                        </div>
                    {% endif %}
                {% elif checked_in == True %}
                    <form action="{{ url_for('main.view_student', id=student.id) }}" method="POST" role="form">
                        {{ undo_check_in_form.hidden_tag() }}
                        <h3>Attendance:</h3>
                        {{ undo_check_in_form.checked_in(class_='btn btn-success') }}
                    </form>
                    <div style="margin-top:5px;">
                        <p>Last in: {{ moment(attendance.was_present).format('LLL') }}</p>
                    </div>
                {% endif %}
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <div class="admin-controls">
                    <a href="{{ url_for('main.edit_student', id=student.id) }}">Edit</a>
                    &nbsp; | &nbsp;
                    <a href="#" data-toggle="modal" data-target="#editModal">Delete</a>
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Are you sure you want to delete this student?</h1>
            </div>
            <div class="modal-body modal-xl">
                <div class="row">
                    <div class="col-md-4">
                        <h3>{{ student }}</h3>
                        <p><b>teacher:</b> {{ student.teacher }}</p>   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a href="{{ url_for('main.delete_student', id=student.id) }}" class="btn btn-danger" value="delete">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}