{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Student:</h1>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <h3>{{ student.first_name }} {{ student.last_name }}</h3>
                <p><b>Teacher:</b> {{ student.teacher }}</p>
                <p><b>Instrument:</b> {{ student.instrument }}</p>
                <p><b>Account:</b><a href="{{ url_for('main.view_account', id=student.account_ID) }}">
                                  {{ student.account }}</a></p>
                <h3>Notes: {{ today }}</h3>
                <p>{{ student.notes }}</p>
            </td>
            <td>
                <h3>attendence:</h3>
                {{ wtf.quick_form(form) }}
            </td>
            <td>
                {% for attended in attendence %}
                    {% if attended.was_present == today %}
                    <p>student id: {{ attended.student_ID }}</p>
                    <p>account id: {{ attended.account_ID }}</p>
                    <p>was present: {{ attended.was_present }}</p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:left;">
                    <a href="#">Edit</a> 
                    &nbsp; | &nbsp;
                    <a href="#" data-toggle="modal" data-target="#editModal">Delete</a>
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}