{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Student:</h1>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <h3>{{ student.first_name }} {{ student.last_name }}</h3>
                <p><b>Teacher:</b> {{ student.teacher_ID }}</p>
                <p><b>Instrument:</b> {{ student.instrument }}</p>
                <h3>Notes:</h3>
                <p>{{ student.notes }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:left;">
                    <a href="#">Edit</a> 
                    &nbsp; | &nbsp;
                    <a href="#" data-toggle="modal" data-target="#editModal">Delete</a>
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}