{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Account: {{ account.f_name1 }} {{ account.l_name1 }}</h1>
        </div>
    </div>
    <br>
    <table class="table table-hover admin-table">
        <tr>
            <td>
                <h3>Primary Contact:</h3>
                <p><b>First name:</b> {{ account.f_name1 }}</p>
                <p><b>Last name:</b> {{ account.l_name1 }}</p>
                <p><b>Cell phone:</b> {{ account.cell_phone1 }}</p>
                <p><b>Email:</b> {{ account.email1 }}</p>
                <p><b>Home phone:</b> {{ account.home_phone1 }}</p>
            </td>
            {% if account.f_name2 and account.l_name2 is not none %}
            <td>
                <h3>Secondary Contact:</h3>
                <p><b>First name:</b> {{ account.f_name2 }}</p>
                <p><b>Last name:</b> {{ account.l_name2 }}</p>
                <p><b>Cell phone:</b> {{ account.cell_phone2 }}</p>
                <p><b>Email:</b> {{ account.email2 }}</p>
                <p><b>Home phone:</b> {{ account.home_phone2 }}</p>
            </td>
            {% endif %}
            {% if account.students %}
            <td>
                <h3>Students:</h3>
                {% for student in account.students %}
                    <p><a href="{{ url_for('main.view_student', id=student.id) }}">{{ student }}</a></p>
                {% endfor %}
                <br>
                    <a href="{{ url_for('main.add_student', id=account.id) }}">
                        <i class="far success fa-plus-square fa-lg add-student-icon"></i>Add A Student?</a>
            </td>
            {% else %}
            <td>
                <h3>Students:</h3>
                <p>No current students on this account.</p>
                <br>
                <a href="{{ url_for('main.add_student', id=account.id) }}">
                    <i class="far success fa-plus-square fa-lg add-student-icon"></i>Add A Student?</a>
            </td>
            {% endif %}
            
        </tr>
        <tr>
            <td colspan="100">
                <div class="admin-controls">
                    <a href="{{ url_for('main.edit_account', id=account.id) }}">Edit</a> 
                    &nbsp; | &nbsp;
                    <a href="#" data-toggle="modal" data-target="#editModal">Delete</a>
                </div>
            </td>
            
            
        </tr>
    </table>
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Are you sure you want to delete this account?</h1>
            </div>
            <div class="modal-body modal-xl">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Primary Contact:</h3>
                        <p><b>First name:</b> {{ account.f_name1 }}</p>
                        <p><b>Last name:</b> {{ account.l_name1 }}</p>
                        <p><b>Cell phone:</b> {{ account.cell_phone1 }}</p>
                        <p><b>Email:</b> {{ account.email1 }}</p>
                        <p><b>Home phone:</b> {{ account.home_phone1 }}</p>
                    </div>
                    {% if account.f_name2 and account.l_name2 is not none %}
                    <div class="col-md-4">                       
                        <h3>Secondary Contact:</h3>
                        <p><b>First name:</b> {{ account.f_name2 }}</p>
                        <p><b>Last name:</b> {{ account.l_name2 }}</p>
                        <p><b>Cell phone:</b> {{ account.cell_phone2 }}</p>
                        <p><b>Email:</b> {{ account.email2 }}</p>
                        <p><b>Home phone:</b> {{ account.home_phone2 }}</p>
                    </div>
                    {% else %}
                    <div class="col-md-4"></div>
                    {% endif %}
                    {% if account.students %}
                    <div class="col-md-4">
                        <h3>Students:</h3>
                        {% for student in account.students %}
                            <p>{{ student }}</p>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="col-md-4">
                        <h3>Students:</h3>
                        <p>No current students on this account.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a href="{{ url_for('main.delete_account', id=account.id) }}" class="btn btn-danger" value="delete">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}